.mobilediv{
    display: none;
}
.mobile{
    display: none;
}

@media screen and (max-width:750px) {
    .bigscreen{
        display: none;
    }
    .mobilediv{
        display: block;
    
    }
}
.link-button {
    transition: transform 0.3s ease;
}

.link-button:hover {
    transform: translateY(-3px) scale(1.05);
}



